    <header class="home__section__header">
      <h2>
        About me, <em>Loretta Garrison</em>
      </h2>
    </header>

    <img  src="/img/about_image.jpg" alt="Holding image for about section" height="800" width="796" height="800" class="home__section__about__img" />

    <p>
    Printmaking has been quite a recent discovery for me, only starting my journey 3 years ago. I love the flexibility and possibilities within print; I especially enjoy experimenting with different techniques and my work often incorporates multiple print forms such as monoprint, drypoint and collagraph.
    </p>

    <p>
    I am influenced by abstract expressionism, nebulae, urban decay and 50's textiles.
    </p>

    <p>
    On this website
    </p>

    <p>
    Thanks for taking the time to have a look around.
    </p>


    <h3>Exhibitions</h3>

    <p>
      <strong>Under Ground Women</strong><br />
      ArtsLav, 180 Kennington Road, Lambeth, London<br />
      <em>15 November - 23 November 2014</em>
    </p>

    <p>
      <strong>'Migration' - Group Exhibition</strong><br />
      St Augustine's Tower, The Narroway, Hackney, London<br />
      <em>29 September - 4 October 2015</em>
    </p>

    <p>
      <strong><a href="/blog#test">'Don't even ask' - Group Exhibition</a></strong><br />
      A-Side B-Side Gallery, Hackney Downs Studios, Hackney, London<br />
      <em>30 June - 4 July 2016</em>
    </p>
