<h2>Blog</h2>

<aside class="blog__aside">
  <h3>Blog posts</h2>
  <a href="#test">New exhibition: Don't Even Ask</a>
</aside>

<article id="test" class="blog__article">

<heading>
<h3>New exhibition: Don't Even Ask</h2>
</heading>

<div class="blog__image__div">
<a href="/img/blog/dont_even_ask.jpg" class="blog__image__a"><img src="/img/blog/dont_even_ask.jpg" alt="Don't even ask" class="blog__image__img"></a>
</div>

<div class="blog__content__div">

<p><strong>Don't even ask what it's about.</strong></p>

<p>We can't usually explain our visual decisions. It's part of a journey where what we started out with becomes something quite different as the piece develops. There's some mystery in the creative process that could come from the unconscious, or a spiritual dimension, or just the trial and error of going for something new.</p>

<p>When doing art, the title often comes last. If viewers look for it first, does it enlighten or conversely divert the attention from the visual to the verbal?</p>

<p>We are meaning-hungry. Our brains prioritise "the meaning" and need to make sense.</p>

<p>Here visitors will have the opportunity to devise their own titles to pieces, which can then be compared to that of the artist. A small prize will be given for the best one. How do we know what's best?</p>

<p>Don't even ask.</p>

<p>Don't Even Ask, a group exhibition of new works by Loretta Garrison, Alison Haworth, <a href="http://connijohnson.weebly.com/" target="_blank">Conni Johnson</a>, <a href="http://stellamorgan.artspan.com/" target="_blank">Stella Morgan</a> and <a href="http://www.rebecca-willcox.com/" target="_blank">Rebecca Willcox</a> is at the A-side B-side Gallery <time datetime="P5D"><time datetime="2016-06-30 19:00">30th June 2016</time> - <time datetime="2016-07-04 18:00">4th July 2016</time></time> <time datetime="12:00">12</time>-<time datetime="18:00">6pm</time>. Public view on Thursday <time datetime="2016-06-30 19:00">30th June 7-9.30pm</time>.</p>

<p><a href="https://www.facebook.com/events/642443285909227/" target="_blank">https://www.facebook.com/events/642443285909227/</a></p>

<p>
A-side B-side Gallery<br/>
Hackney Downs Studios<br/>
Amhurst Terrace<br/>
London E8 2BT
</p>

</div>



<footer>
  <div class="blog__content__footer__date">
    <p>02/06/2016, 09:37</p>
  </div>
  <div class="blog__content__footer__social">
    <p><a data-pin-do="buttonPin" data-pin-count="beside" href="https://www.pinterest.com/pin/create/button/?url=http://www.lorettagarrison.co.uk/blog&media=http://www.lorettagarrison.co.uk/img/blog/dont_even_ask.jpg&description=New exhibition: Don't Even Ask" target="_blank"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" width="40px" /></a></p>
    <p><div class="fb-share-button" data-href="http://www.lorettagarrison.co.uk/blog#test" data-layout="button_count" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.lorettagarrison.co.uk%2Fblog%23test&amp;src=sdkpreparse">Share</a></div></p>
  </div>
</footer>

</article>
