<h2>Contact me</h2>

<noscript>
  <a href="mailto:leogarrison1@gmail.com">Email me...</a>
</noscript>

<div class="contact__content__form__inner__div">
  <span class="contact__content__form__inner__required__span">Fields marked <span class="contact__content__form__required">r</span> are required to allow me to contact you.</span>
  <form method="post" action="/" id="lgContact" class="contact__content__form">

      <p class="contact__content__form__name"><label for="name" form="lgContact">Name:<span class="contact__content__form__required" title="This field is required">r</span> </label><input type="text" name="name" id="name" required /></p>
      <p class="contact__content__form__email"><label for="email" form="lgContact">Email:<span class="contact__content__form__required" title="This field is required">r</span> </label><input type="email" name="email" id="email" required /></p>

      <p class="contact__content__form__special" style="clear: both;"><label for="special" form="lgContact">Message:<span class="contact__content__form__required" title="This field is required">r</span><br /></label><textarea rows="4" cols="50" name="special" id="special" required></textarea></p>
      <input type="submit" class="contact__content__form__submit" value="Send your message"/>
  </form>
</div>

