<div class="modPsy__credit">
  <div class="modPsy__credit__link">This website designed and developed by<a href="http://www.modpsy.co.uk" target="_modspsy"><img src="/img/modpsy_logo.png" alt="ModPsy WebWorks Limited" height="155" width="466"  class="modPsy__credit__image"/></a><span><a href="http://www.modpsy.co.uk" target="_modspsy">ModPsy WebWorks Limited</a></span></div>
</div>
