<h1 title="ModPsy" class="home__header">
  <a href="/" class="home__header__a">
  <!-- <img src="/img/lg_logo_white.png" height="51" width="60" alt="LG initials" class="home__header__img"> -->
  <object type="image/svg+xml" data="/img/lg_logo.svg" class="logo">
  </object>
  LG
  </a>
</h1>
<div class="page__nav__reveal__div"></div>
