<head>
  <title>{{pageTitle}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet" media="screen" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Antic" />
  <script src="/js/ie_html5_elements.js"></script>
	<script src="/js/jquery.min.js"></script>
  <script src="/js/retina.min.js"></script>
  <script src="/js/jquery.mobile.custom.min.js"></script>
  <script src="/js/jquery.waitforimages.min.js"></script>
  <script src="/js/bootstrap/bootstrap.js"></script>
  <script src="/js/handlebars-v4.0.5.js"></script>
  <script src="/templates/templates.js"></script>
	<script src="/js/modpsy.js"></script>
	{{>socialSharing}}
	<noscript>
    <link href="/css/noscript.css" rel="stylesheet" media="screen" />
  </noscript>
</head>
